body {
  background-color: #f9f7fe;
  font-family: "Roboto", serif;
}

.weatherApp {
  background: white;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
}

a {
  color: #885df1;
}
header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px;
}

.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}

.search-form-submit {
  background: #885df1;
  padding: 15px 30px;
  border: none;
  margin-left: 5px;
  border-radius: 6px;
  color: white;
  font-size: 16px;
}

main {
  padding: 30px 0;
}

.weather-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.weather-details {
  font-size: 24px;
  line-height: 20px;
  color: rgba(39, 33, 66, 0.4);
  font-weight: 500;
}

.weather-details strong {
  color: #f65282;
}

.weather-data {
  display: flex;
  justify-content: space-between;
}

.weather-container {
  display: flex;
}

.weather-temperature {
  font-size: 38px;
  font-weight: bold;
}

.weather-icon {
  font-size: 44px;
  margin-top: 22px;
}

.footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
}
